.container-main {
    background-color: white;
    display: block;

    margin-top: 50px;
    border: 1px solid #BBB;
    /*box-shadow: 0 0 30px #AAA;/**/
    padding:10px 10px 10px 10px;
    border:10px 10px 10px 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

#breadCrumb{
    background: #428bca;
font-size: 0.75em;
color: #FFFFFF;
padding: 6px 20px;
width: 900px;
top: 78px;
}
.Required {
color: red;
font-weight: bold;
}
#breadCrumb a{
    color: #fff;
    text-decoration: none;
}

#breadCrumb a:hover,
#breadCrumb a:focus
{
    text-decoration: underline;
}
    #bg {
        position: fixed;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        z-index: -99999;
    }
    #bg img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
        z-index: -99999;
    }

    html, body {
        overflow: hidden;
        height: 100%;
    }
    body {
        padding-top: 57px;
    }
    .wrap {
        padding-top: 10px;
        height: 100%;
        overflow: auto;
    }

	/*body {
		background-color: #fafafa;
	}
	.navbar {
		background-color: #333;
	}
	.footer {
		background-color: #333;
		display: block;
	}
	.btn-primary {
		background-color: #fec503;
		border-color: #eea236;
	}
	.btn-primary:hover {
		background-color: #eea236;
		border-color: #feb246;
	}
	.btn-info {

	}
	.btn-warning {

	}
	.btn-danger {

	}
	.btn-success {

	}
	a {
		color: #eea236;
	}
	a:hover {
		color: #feb246;
	}*/
